body {
  background-color: rgb(59 130 246 / 0.4);
}
.presentation {
  display: flex;
  justify-content: center;
}
.formation {
  display: flex;
  justify-content: center;
}
.projets {
 margin-left: 50px;
 margin-right: 50px;
}
.card {
  margin-bottom: 50px;
}
